[submodule "lib/active-rt-framework"]
	path = lib/active-rt-framework
	url = https://github.com/talarma-code/active-rt-framework
[submodule "lib/shl-protocol"]
	path = lib/shl-protocol
	url = https://github.com/talarma-code/shl-protocol
